{
  "_source": {
    "includes": [
      "show_id",
      "title",
      "publisher",
      "language",
      "image_url",
      "episode_count"
    ]
  },
  "query": {
    "bool": {
      "must": [
        {
          "multi_match": {
            "query": "{{query}}",
            "type": "most_fields",
            "fields": [
              "title^5",
              "publisher^2"
            ],
            "operator": "or"
          }
        }
      ]{{#languagesJson}},
      "filter": [
        {
          "terms": {
            "language": {{{languagesJson}}}
          }
        }
      ]{{/languagesJson}}
    }
  },
  "sort": [
    { "_score": { "order": "desc" } },
    { "episode_count": { "order": "desc" } }
  ],
  "from": {{from}},
  "size": {{size}}
}
