{
  "_source": {
    "includes": [
      "show_id",
      "title",
      "publisher",
      "image_url"
    ]
  },
  "query": {
    "bool": {
      "should": [
        {
          "match": {
            "title.autocomplete": {
              "query": "{{query}}",
              "boost": 1
            }
          }
        },
        {
          "match": {
            "title.chinese": {
              "query": "{{query}}",
              "boost": 1
            }
          }
        },
        {
          "prefix": {
            "title.keyword": {
              "value": "{{query}}",
              "boost": 3
            }
          }
        }
      ],
      "minimum_should_match": 1
    }
  },
  "sort": [
    { "_score": { "order": "desc" } },
    { "episode_count": { "order": "desc" } }
  ],
  "size": {{limit}}
}
