{
  "_source": {
    "includes": [
      "episode_id",
      "title",
      "description",
      "published_at",
      "duration_sec",
      "image_url",
      "language",
      "show.show_id",
      "show.title",
      "show.publisher",
      "show.image_url"
    ]
  },

  "query": {
    "bool": {
      "should": [
        {
          "multi_match": {
            "query": "{{query}}",
            "fields": ["title^3", "description"],
            "type": "best_fields"
          }
        },
        {
          "match_phrase": {
            "title": {
              "query": "{{query}}",
              "boost": 2
            }
          }
        }
      ],
      "minimum_should_match": 1{{#languagesJson}},
      "filter": [
        {
          "terms": {
            "language": {{{languagesJson}}}
          }
        }
      ]{{/languagesJson}}
    }
  },

  "sort": [
    { "_score": { "order": "desc" } }
  ],

  "from": {{from}},
  "size": {{size}}
}
