{
  "_source": {
    "includes": [
      "episode_id",
      "title",
      "description",
      "published_at",
      "duration_sec",
      "image_url",
      "language",
      "show.show_id",
      "show.title",
      "show.publisher",
      "show.image_url"
    ]
  },

  "knn": {
    "field": "embedding",
    "query_vector": {{#toJson}}query_vector{{/toJson}},
    "k": {{size}},
    "num_candidates": {{num_candidates}}
  },

  "size": {{size}}
}
